# Ignore macOS system files
.DS_Store
.Trash/
.CFUserTextEncoding

# Ignore virtual environments, caches, etc.
.venv/
__pycache__/
node_modules/
.env

cache_pages

# Ignore global folders outside project
../*

*.pyc