PyAudio
pyttsx3
flask
requests
beautifulsoup4
newspaper3k
ddgs
sentence-transformers
transformers
torch
accelerate
httpx
selectolax
lxml
lxml_html_clean
sentence-transformers
spacy
torch
sounddevice
numpy
SpeechRecognition
gTTS
playwright
pygame-ce
fastapi
uvicorn
mediapipe
pyautogui
pynput
pywhatkit
edge-tts 
sounddevice 
soundfile